$base-width: 100;

@function width($no) {
  @return $base-width / $no + px;
}

@mixin div-comm {
  margin: 5px;
  background-color: black;
  height: 50px;
}

#func {
  margin: 10px auto;
  background-color: $aside-bg;
  div:nth-child(1) {
    @include div-comm();
    width: width(1);
  }
  div:nth-child(2) {
    @include div-comm();
    width: width(2);
  }
  div:nth-child(3) {
    @include div-comm();
    width: width(3);
  }
  div:nth-child(4) {
    @include div-comm();
    width: width(4);
  }

  //Number functions
  .num {
    margin-right: abs(-10px);
    width: ceil(8.1px);
    height: floor(8.7px);
    padding: round(4.5px);
    border-bottom: max(10px, 20px, 30px);
    border-top: min(10px, 20px, 30px);
    border-left: percentage(1/2);
    border-right: comparable(1em, 10px);
    border-radius: random(10);
    margin-left: unit(100px);
    margin-top: unitless(100);
  }

  //String Functions
  .str {
    font-family: quote(Arial);
    font-family: unquote("sans-serif");
    font-family: to-upper-case(cursive);
    font-family: to-lower-case(SERIF);
    font-size: str-length(Arial);
    font-size: str-index("Lalit", "l");
    font-size: str-insert("Lalit", "G", 6);
    font-size: str-slice("Lalit", 2, 4);
    font-family: unique-id();
  }

  //Color Functions
  #colors {
    background-color: darken($bg-color, 40);
    background-color: lighten($bg-color, 10);
    background-color: adjust-hue($bg-color, 20);
    background-color: saturate($bg-color, 90);
    background-color: desaturate($bg-color, 90);
    background-color: mix($bg-color, red);
    background-color: transparentize($bg-color, 0.8);
    background-color: hue($color: #000000);
    background-color: red($color: #000000);
    background-color: green($color: #000000);
    background-color: blue($color: #000000);
    background-color: saturation($color: #000000);
    background-color: lightness($color: #000000);
    background-color: alpha($color: #000000);
  }

  //List Functions
  $list: 10px, 20px, 30px;
  $list2: 100px, 200px, 300px;
  .list {
    margin: length($list);
    margin: nth($list, 2);
    margin: set-nth($list, 2, 1em);
    border-radius: join($list, $list2, comma);
    margin: append($list, 100px, comma);
    margin: zip($list, $list2);
    margin: index($list, 30px);
    margin: list-separator($list);
  }

  //Selector Functions
  $selector: selector-nest("ul", "li");
  $selector1: selector-append("li", "#me");
  $selector2: selector-replace("li.abc", ".abc", ".to");
  $selector3: simple-selectors("ul.games");
  $selector4: selector-unify("a", ".link");
  #{$selector} {
    background-color: $bg-color;
    margin-top: 5px;
  }
  #{$selector1} {
    color: white;
  }
  #{$selector2} {
    font-size: 30px;
  }
  #{$selector3} {
    width: 10px;
  }
  #{$selector4} {
    color: white;
  }
}
