body {
  background-color: rgb(187, 56, 56);
}

//Content Directive
@mixin media($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@include media(1000px) {
  body {
    background-color: rgb(43, 128, 128);
  }
}

@include media(700px) {
  body {
    background-color: blueviolet;
  }
}

@include media(500px) {
  body {
    background-color: rgb(162, 207, 57);
  }
}

//Media Directive
header {
  height: 100px;
  background-color: rgb(97, 240, 53);
  @media screen and (max-width: 700px) {
    border-radius: 20px;
  }
  @media screen and (max-width: 500px) {
    box-shadow: 0 5px 5px rgba(#000000, 0.2);
  }
}

//@at-root Directive
ul {
  list-style-type: none;
  @at-root {
    li {
      padding: 5px;
      a {
        text-decoration: none;
      }
    }
  }
  //@at-root without
  @media print {
    list-style-type: disc;
    font-size: 2em;

    @at-root (without: media) {
      list-style-type: none;
      font-size: 1em;
    }
  }
}

$value: 5;
$key: "go";
$bg: 5;
#buy {
  margin: 10px;
  //@if directive

  @if $value < 5 {
    display: none;
  }
  //@if @else directive

  @if $key == "go" {
    color: red;
  } @else {
    color: green;
  }
  //@else if
  @if $bg < 5 {
    background-color: aqua;
  } @else if $bg>5 and $bg < 10 {
    background-color: blueviolet;
  } @else {
    background-color: brown;
  }
}
